In [16]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder

In [79]:
dataset = pd.read_csv('C:/Users/Maalaoui/Desktop/h_p/all_perth_310121.csv')

In [3]:
dataset.head()

,ADDRESS,SUBURB,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK
0,1 Acorn Place,South Lake,565000,4,2,2.0,600,160,2003.0,18300,Cockburn Central Station,1800,09-2018\r,6164,-32.115900,115.842450,LAKELAND SENIOR HIGH SCHOOL,0.828339,NaN
1,1 Addis Way,Wandi,365000,3,2,2.0,351,139,2013.0,26900,Kwinana Station,4900,02-2019\r,6167,-32.193470,115.859554,ATWELL COLLEGE,5.524324,129.0
2,1 Ainsley Court,Camillo,287000,3,1,1.0,719,86,1979.0,22600,Challis Station,1900,06-2015\r,6111,-32.120578,115.993579,KELMSCOTT SENIOR HIGH SCHOOL,1.649178,113.0
3,1 Albert Street,Bellevue,255000,2,1,2.0,651,59,1953.0,17900,Midland Station,3600,07-2018\r,6056,-31.900547,116.038009,SWAN VIEW SENIOR HIGH SCHOOL,1.571401,NaN
4,1 Aman Place,Lockridge,325000,4,1,2.0,466,131,1998.0,11200,Bassendean Station,2000,11-2016\r,6054,-31.885790,115.947780,KIARA COLLEGE,1.514922,NaN

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33656 entries, 0 to 33655
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ADDRESS           33656 non-null  object
 1   SUBURB            33656 non-null  object
 2   PRICE             33656 non-null  int64
 3   BEDROOMS          33656 non-null  int64
 4   BATHROOMS         33656 non-null  int64
 5   GARAGE            31178 non-null  float64
 6   LAND_AREA         33656 non-null  int64
 7   FLOOR_AREA        33656 non-null  int64
 8   BUILD_YEAR        30501 non-null  float64
 9   CBD_DIST          33656 non-null  int64
 10  NEAREST_STN       33656 non-null  object
 11  NEAREST_STN_DIST  33656 non-null  int64
 12  DATE_SOLD         33656 non-null  object
 13  POSTCODE          33656 non-null  int64
 14  LATITUDE          33656 non-null  float64
 15  LONGITUDE         33656 non-null  float64
 16  NEAREST_SCH       33656 non-null  object
 17  NEAREST_SCH_DIST  33656 non-null  float64
 18  NEAREST_SCH_RANK  22704 non-null  float64
dtypes: float64(6), int64(8), object(5)
memory usage: 4.9+ MB

In [ ]:
#GARAGE
#BUILD_YEAR
#NEAREST_SCH_RANK
#3 col with null values
#to replace with mean value

In [80]:
dataset['GARAGE']=dataset['GARAGE'].fillna(dataset['GARAGE'].mean())
dataset['BUILD_YEAR']=dataset['BUILD_YEAR'].fillna(dataset['BUILD_YEAR'].mean())
dataset['NEAREST_SCH_RANK']=dataset['NEAREST_SCH_RANK'].fillna(dataset['NEAREST_SCH_RANK'].mean())

In [15]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33656 entries, 0 to 33655
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ADDRESS           33656 non-null  object
 1   SUBURB            33656 non-null  object
 2   PRICE             33656 non-null  int64
 3   BEDROOMS          33656 non-null  int64
 4   BATHROOMS         33656 non-null  int64
 5   GARAGE            33656 non-null  float64
 6   LAND_AREA         33656 non-null  int64
 7   FLOOR_AREA        33656 non-null  int64
 8   BUILD_YEAR        33656 non-null  float64
 9   CBD_DIST          33656 non-null  int64
 10  NEAREST_STN       33656 non-null  object
 11  NEAREST_STN_DIST  33656 non-null  int64
 12  DATE_SOLD         33656 non-null  object
 13  POSTCODE          33656 non-null  int64
 14  LATITUDE          33656 non-null  float64
 15  LONGITUDE         33656 non-null  float64
 16  NEAREST_SCH       33656 non-null  object
 17  NEAREST_SCH_DIST  33656 non-null  float64
 18  NEAREST_SCH_RANK  33656 non-null  float64
dtypes: float64(6), int64(8), object(5)
memory usage: 4.9+ MB

In [81]:
le = LabelEncoder()

x1=dataset['ADDRESS']
x1new = le.fit_transform(x1)
dataset['ADDRESS'] =x1new.reshape(-1,1)

x2=dataset['SUBURB']
x2new = le.fit_transform(x2)
dataset['SUBURB'] =x2new.reshape(-1,1)

x3=dataset['NEAREST_STN']
x3new = le.fit_transform(x3)
dataset['NEAREST_STN'] =x3new.reshape(-1,1)

x4=dataset['NEAREST_SCH']
x4new = le.fit_transform(x4)
dataset['NEAREST_SCH'] =x4new.reshape(-1,1)

In [82]:
dataset["DATE_SOLD"] = pd.to_datetime(dataset["DATE_SOLD"])
dataset["SOLD_YEAR"] = dataset["DATE_SOLD"].dt.year
dataset["SOLD_MONTH"] = dataset["DATE_SOLD"].dt.month

In [83]:
label= np.array(dataset['PRICE'])
dataset = dataset.drop(['DATE_SOLD','PRICE'],axis=1)

In [84]:
dataset.head()

,ADDRESS,SUBURB,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK,SOLD_YEAR,SOLD_MONTH
0,0,266,4,2,2.0,600,160,2003.0,18300,17,1800,6164,-32.115900,115.842450,81,0.828339,72.672569,2018,9
1,1,290,3,2,2.0,351,139,2013.0,26900,35,4900,6167,-32.193470,115.859554,8,5.524324,129.000000,2019,2
2,2,53,3,1,1.0,719,86,1979.0,22600,12,1900,6111,-32.120578,115.993579,73,1.649178,113.000000,2015,6
3,3,32,2,1,2.0,651,59,1953.0,17900,43,3600,6056,-31.900547,116.038009,144,1.571401,72.672569,2018,7
4,4,175,4,1,2.0,466,131,1998.0,11200,2,2000,6054,-31.885790,115.947780,76,1.514922,72.672569,2016,11

In [86]:
from sklearn.model_selection import train_test_split
x_train, x_test, train_label, test_label = train_test_split(dataset, label, test_size =0.33,random_state=0)

In [ ]:
###############RandomForest###############

In [87]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(random_state=0,n_estimators=50).fit(x_train,train_label)
pred=model.predict(x_test)

In [93]:
from sklearn.metrics import explained_variance_score
ev=explained_variance_score(test_label, pred)
print('explained_variance:\n')
print(ev)

explained_variance:

0.7073777388313285

In [ ]:
###############xgboost###############

In [116]:
import xgboost as xgb
model = xgb.XGBRegressor(random_state=0,n_estimators=80,max_depth=5).fit(x_train,train_label)
predxgb=model.predict(x_test)

In [117]:
from sklearn.metrics import explained_variance_score
ev=explained_variance_score(test_label, predxgb)
print('explained_variance:\n')
print(ev)

explained_variance:

0.8459904276360017